{% extends "base.html" %}
{% block title %}图书详情{% endblock %}
{% block content %}
<h1 class="h3 mb-3">{{ object.title }}</h1>
<dl class="row">
  <dt class="col-sm-2">作者</dt><dd class="col-sm-10">{{ object.author.name }}</dd>
  <dt class="col-sm-2">出版日期</dt><dd class="col-sm-10">{{ object.published_date|default:"-" }}</dd>
  <dt class="col-sm-2">ISBN</dt><dd class="col-sm-10">{{ object.isbn|default:"-" }}</dd>
  <dt class="col-sm-2">库存</dt><dd class="col-sm-10">{{ object.copies_available }}/{{ object.copies_total }}</dd>
</dl>
<div class="mt-3">
  <a class="btn btn-secondary" href="/books/{{ object.pk }}/edit/">编辑</a>
  <a class="btn btn-outline-danger" href="/books/{{ object.pk }}/delete/">删除</a>
  <a class="btn btn-link" href="/">返回列表</a>
</div>
{% endblock %}